- /home/ostinato/htdocs-media-photos_backup/
- /home/ostinato/bin/
- /home/ostinato/python/
- /home/ostinato/patches/
- /home/ostinato/templates/
- /home/ostinato/stockserver/
- /proc/
- /tmp/*
- *-old
- *~
- .svn/
- /var/cache/apt/archives/*.deb
- /var/cache/locate/locatedb
- /var/run/*
- /var/log/btmp
- /var/log/lastlog
- /var/log/messages
- /var/log/syslog
- /var/log/wtmp
- /var/log/*.log
- /var/log/*.0
- /var/log/*.1
- /var/log/apache2/*.log
- /var/log/apache2/*.1
- /var/log/postgresql/*.log
- /var/log/postgresql/*.1
- /var/backups/*
- /dev/agpgart
- /dev/audio*
- /dev/console
- /dev/dsp*
- /dev/full
- /dev/kmem
- /dev/loop*
- /dev/mem
- /dev/midi*
- /dev/mixer*
- /dev/mpu401*
- /dev/null
- /dev/port
- /dev/ptmx
- /dev/ram*
- /dev/random
- /dev/rmidi*
- /dev/sda*
- /dev/sequencer
- /dev/smpte*
- /dev/sndstat
- /dev/tty*
- /dev/urandom
- /dev/zero
